@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
} */
body{
  background-color: #e6e6e6;
  overflow-x: hidden;
}
.service__bg{
  background-color: #e6e6e6
}
.login__container__color{
  background-color: #ffffff;
}
.login__form__color{
  background-color: #e6e6e6;
}
.active__element{
  color: #00bcd4;
  text-shadow: 0 0 10px #ffffff;
}